<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
         <div id="footer_content">
            <p id="footer_logo">햄스터 애호가 클럽 | <span>서울</span></p>
            <ul id="download">
                <li>대표자</li>
                <li> - 강윤해</li>
            </ul>
            <ul id="author">
                <li>문의 메일</li>
                <li> - yunhaekang1@gmail.com</li>
            </ul>
             <p id="footer_copyright">Copyright Yunhae Kang 2023</p>
        </div>
    </div>
</html>