<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
</head>
<body>
<form th:object="${form}" method="post">
    제목: <input type="text" th:field="*{subject}" /><br/>
    내용 <br/>
    <textarea th:field="*{content}"></textarea>
    <input type="hidden" th:field="*{postId}" />
    <input type="hidden" th:field="*{boardId}" />
    <input type="hidden" th:field="*{memberId}" />
    <button type="submit">글 수정</button>
</form>
</body>
</html>